body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    height: 100vh
}
#main-container {
    border: solid 2px;
    min-width: 580px;
    min-height: 580px;
    display: grid;
}

.etch-pixel {
    border: solid 1px grey;
    opacity: 1.0;
}

#buttons {
    display: flex;
    min-width: 580px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
